* {
	box-sizing: border-box;	
}

html {
	height: 100%;
}

body {
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
	margin: 0;
	background-color:#e6ffd7;
}


.title {
	width: 100%;
	font-size: 4rem;	
	vertical-align: middle;
	text-align: center;
}

.clock-zone {
	max-width: fit-content;
	margin-inline: auto;
	position: relative;
}

.hands {
	position: absolute;
	top: -2px;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none; /* Allows clicks to pass through */
}

.hand {
	transform-origin: 50% 50%;
	transition: transform 0.5s ease-in-out;
}

.hour {
	stroke-width: 3;
}

.text-description {
	font-size: 1.5rem;
	margin-inline: 20px;
	max-width: fit-content;
	min-width: 300px;
}

.game-form {
	margin-top: 1rem;
	margin-bottom: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 1px solid black;
}

.score, .timer, .congratulation{
	text-align: center;
	font-size: 2rem;
}

#start-button {
	min-height: 100px;
	min-width: 300px;
	margin: 20px;
	font-size: 4rem;
}

#game-inputs {
	min-height: 100px;
	min-width: 300px;
	font-size: 1.8rem;
	border: 0;
}

#game-inputs input[name="time"]{
	width: 100%;
	text-align: center;
	font-size: 2rem;
	display: inline-block;
}

button[name="submit-answer"] {
	margin-top: 1rem;
	width: 100%;
	min-height: 2.5rem;
	font-size: 2rem;
}