* {
	box-sizing: border-box;	
}

html {
	height: 100%;
}

body {
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
	margin: 0;
	padding-top: 3.5;
}


.title {
	width: 100%;
	font-size: 4rem;	
	vertical-align: middle;
	text-align: center;
}

.clock-zone {
	max-width: fit-content;
	margin-inline: auto;
}

.text-description {
	font-size: 1.5rem;
	margin-inline: 5%;
	max-width: 900px;
	min-width: 350px;
}

.game-form {
	margin-top: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

#start-button {
	min-height: 100px;
	min-width: 300px;
}